@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Sen;
  }
}

.swiper-wrapper {
  max-width: 700px; 
  width: fit-content;
}


.swiper-button-next {
  background: url(/svg/circle-arrow-right-solid.svg) no-repeat;


}

.swiper-button-prev {
  background: url(/svg/circle-arrow-left-solid.svg) no-repeat;

} 

/* .swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
} */

