@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Sen;
    @apply text-white;
  }
}

@layer utilities {
  .gradientBorder {
    background: linear-gradient(#1d1d1d, #1d1d1d) padding-box,
      linear-gradient(to bottom, #70efcf, #cea671) border-box;
    border-radius: 44px;
    border: 1px solid transparent;
  }

  .clipped {
    filter: url(#round);
    -webkit-clip-path: polygon(
      0% 0%,
      0% 0%,
      100% 0%,
      100% 84%,
      84% 100%,
      0% 100%,
      0% 84%,
      0% 30%
    );
    clip-path: polygon(
      0% 0%,
      0% 0%,
      100% 0%,
      100% 84%,
      84% 100%,
      0% 100%,
      0% 84%,
      0% 30%
    );
  }

  .box {
    --all: 0px;
    display: inline-block;
    position: relative;
    /* background:  linear-gradient(#70efcf, #cea671) padding-box,
    linear-gradient(to bottom, #70efcf, #cea671) border-box; */
    filter: url(#round);
    --bottom-right: 15%;
  }
  .box::before {
    /* z-index: -2; */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#70efcf, #cea671) padding-box,
      linear-gradient(to bottom, #70efcf, #cea671) border-box;
    -webkit-mask: linear-gradient(
          45deg,
          transparent 0 var(--bottom-left, var(--all)),
          #fff 0
        )
        bottom left,
      linear-gradient(
          -45deg,
          transparent 0 var(--bottom-right, var(--all)),
          #fff 0
        )
        bottom right,
      linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), #fff 0)
        top left,
      linear-gradient(
          -135deg,
          transparent 0 var(--top-right, var(--all)),
          #fff 0
        )
        top right;
    -webkit-mask-size: 50.5% 50.5%;
    -webkit-mask-repeat: no-repeat;
  }
  .innerBox {
    /* z-index: -1; */
    --all: 0px;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 98.5%;
    height: 98.5%;
    /* background:  linear-gradient(#70efcf, #cea671) padding-innerBox,
    linear-gradient(to bottom, #70efcf, #cea671) border-box; */
    filter: url(#round);
    --bottom-right: 15%;
  }
  .innerBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333333;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-mask: linear-gradient(
          45deg,
          transparent 0 var(--bottom-left, var(--all)),
          #fff 0
        )
        bottom left,
      linear-gradient(
          -45deg,
          transparent 0 var(--bottom-right, var(--all)),
          #fff 0
        )
        bottom right,
      linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), #fff 0)
        top left,
      linear-gradient(
          -135deg,
          transparent 0 var(--top-right, var(--all)),
          #fff 0
        )
        top right;
    -webkit-mask-size: 50.5% 50.5%;
    -webkit-mask-repeat: no-repeat;
  }

  .scroll {
    margin: -32px;
    padding: 32px;
  }

  .scroll::after {
    content: "";
    padding-right: 8px;
  }

  /* .scroll-medium {
    margin: -32px -100px;
    padding: 32px 100px;
  }

  .scroll-medium::after {
    content: "";
    padding-right: 100px;
  } */

  .scroll-large {
    margin: -32px -130px;
    padding: 32px 130px;
  }

  .scroll-large::after {
    content: "";
    padding-right: 0px;
  }

  /* .scroll-xlarge {
    margin: -32px -400px;
    padding: 32px 400px;
  }

  .scroll-xlarge::after {
    content: "";
    padding-right: 296px;
  } */
}

.stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  width: 100% !important;
  margin: 0 !important;
  height: 100% !important;
  border-radius: none !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent !important;
}
.swiper-pagination-bullet span {
  font-size: 15px;
  color: #555555;
  position: absolute;
  top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
}

.swiper-pagination-bullet:hover span {
  visibility: visible;
  opacity: 1;
}

.translate-z-1px {
  transform: translateZ(1px);
}

.truncate-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 700px) {
  .swiper-pagination-bullet:hover span {
    visibility: hidden;
  }
}
