.header {
  height: 80px;
  background-color: #0C0C0C;
  color: #F3F3F3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.button {
  border: 1px solid #F3F3F3;
  padding: 15px 34px;
  border-radius: 25px;
  cursor: pointer;
}
.button:hover {
  color: #0C0C0C;
  background-color: #F3F3F3;
}

.footerBox {
  background-color: #0C0C0C;
  color: #B6B6B6;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 194px;
  max-width: 1350px;
  width: 90%;
}

.footerItem {
  display: flex;
}

.icon {
  margin: 10px;
  cursor: pointer;
}
.footerItem .icon:hover {
  color: #F3F3F3;
}

